In [1]:
print("Hello World")

Hello World

In [5]:
a = "potato"
b = "chips"
c = "good"
print(a, b, "are", c, sep= " ", end="!")

potato chips are good!

In [3]:
a = int(input("Enter the number"))
print(a)
b = int(input("Enter the second number"))
print(a + b)

2
5

In [8]:
# Strings and numbers can be stored in lists using square brackets []

list1 = ["John", 102, "USA"]
list2 = [1, 2, 3, 4, 5, 6]
list3 = []
print(list1)
print(list2) 

print(type(list1))
print(type(a))
print(type(list3))

['John', 102, 'USA']
[1, 2, 3, 4, 5, 6]
<class 'list'>
<class 'int'>
<class 'list'>

In [24]:
tup = ("Apple", "Mango", "Orange", "Banana") # Creating a tuple using () instead of [].
another_tuple = ("potato") # A tuple cannot have only one element. Here, another_tuple is a string.
tuple_again = tuple("potato")

print(another_tuple[0])
print(type(another_tuple))
print(type(tuple_again))

tup_list = list(tup) # Converting a tuple into a list
print(type(tup)) # Tupples cannot be modified

list_tup = tuple(list1) # Converting a list to a tuple 
tup[2] = "Papaya" # Insert into position 2 "papaya"

p
<class 'str'>
<class 'str'>

In [29]:
string_1 = "Hello Python!"
string_2 = 'Hello Python!'
string_3 = "''Hello Python!''"
print(string_1, string_2, string_3, sep="\n")

Hello Python!
Hello Python!
''Hello Python!''

In [34]:
# Creating dictionaries. 
# Dictionaries are used to store data values in key: value pairs.
# A dictionary is a collection which is ordered, changeable, and do not allow duplicates
# Dictionaries are written with curly brackets, and have keys and values.
employee_dict = {
    "name": "lina", 
    "salary": 23455, 
    "company": "Giraffe GmbH"
}
print(type(employee_dict))
print(employee_dict)

print(employee_dict.keys())
print(employee_dict.values())
print(employee_dict.items())

<class 'dict'>
{'name': 'lina', 'salary': 23455, 'company': 'Giraffe GmbH'}
dict_keys(['name', 'salary', 'company'])
dict_values(['lina', 23455, 'Giraffe GmbH'])
dict_items([('name', 'lina'), ('salary', 23455), ('company', 'Giraffe GmbH')])

In [32]:
# Creating sets.
# Sets are used 

month = {
    "January", 
    "February", 
    "March", 
    "April"
}
print(type(month))
print(month)

<class 'set'>
{'March', 'January', 'April', 'February'}

In [35]:
list = [1, 2, 3, 4, 5]
for i in list:
    print(i)
    if i == 4:
        break

print("End of loop")

1
2
3
4
End of loop

In [45]:
# Mutable and immutable data types
# Immutable data types = int, float, decimal, bool, string, tuple, range
# Mutable data types = List, dictionary, set, and user-defined calsses
# From here, the identity of the list is not changed. Meaning that, the list has been expanded.
# However, the identity of the tuple has changed because a new tuple has been created.
# Therefore, lists are more memory efficient than tuples.


list_values = [1, 2, 3]
set_values = (1, 2, 3)
print(id(list_values))
print(id(set_values))
print()

list_values += [4, 5, 6]
set_values += (4, 5, 6)
print(id(list_values))
print(id(set_values))

number = 2468
print(id(number))

number += 10
print(id(number))

140695898105856
140695897879872

140695898105856
140695899147040
140695360399472
140695360401328

In [ ]:
# you can actually force the interning with use of sys library.
a = sys.intern('My string')
a = sys.intern('My string')
b = sys.intern('My string')